.card {
  position: relative;
  align-items: center;
  font-size: 12rem;
  height: 150px;
  width: 150px;
  border-radius: 4px;
  transition: all 500ms;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card:hover {
  transform: scale(1.1);
  cursor: pointer;
}
